{% extends 'base.html.twig' %}

{% block title %}{{ 'app.ui.login'|trans }}{% endblock %}

{% block breadcrumb %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'app.ui.home'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'app.ui.login'|trans }}</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">{{ 'app.ui.login'|trans }}</div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-dismissible alert-primary">
                            <p class="mb-0">{{ 'app.ui.error_login' | trans }}</p>
                        </div>
                    {% endif %}
                    <form action="{{ path('security_login') }}" method="post">
                        <div class="form-group">
                            <label for="InputEmail">{{ 'app.ui.email'|trans }}</label><small style="color: #e74c3c"> *</small>
                            <input id="InputEmail" placeholder="{{ 'app.ui.email'|trans }}" required name="_username" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">{{ 'app.ui.password'|trans }}</label><small style="color: #e74c3c"> *</small>
                            <input id="InputPassword" placeholder="{{ 'app.ui.password'|trans }}" required name="_password" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{{ 'app.ui.login'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}