{% extends 'base.html.twig' %}

{% block title %}{{ 'app.ui.my_account'|trans }}{% endblock %}

{% form_theme form 'form/form_errors.html.twig' %}

{% block breadcrumb %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'app.ui.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('my_account_dashboard') }}">{{ 'app.ui.my_account'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'app.ui.update_profile'|trans }}</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('my_account_dashboard') }}">{{ 'app.ui.dashboard'|trans }}</a>
                    <a class="flex-sm-fill text-sm-center nav-link active" href="{{ path('my_account_update_profile') }}">{{ 'app.ui.update_profile'|trans }}</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('my_account_comments') }}">{{ 'app.ui.comments'|trans }}</a>
                    <a class="flex-sm-fill text-sm-center nav-link disabled" href="{{ path('my_account_update_password') }}">{{ 'app.ui.update_password'|trans }}</a>
                </nav>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">{{ 'app.ui.update_profile'|trans }}</div>
                    <div class="card-body">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message|trans }}
                            </div>
                        {% endfor %}
                        {{ form_start(form) }}
                        {{ form_errors(form.username) }}
                        {{ form_errors(form.email) }}
                        {{ form_errors(form.job) }}
                        {{ form_errors(form.birthday) }}
                        <div class="form-group">
                            {{ form_label(form.username, ('app.ui.username'|trans)) }}<small style="color: #e74c3c"> *</small>
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, ('app.ui.email'|trans)) }}<small style="color: #e74c3c"> *</small>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_label(form.job, ('app.ui.job'|trans)) }}<small style="color: #e74c3c"> *</small>
                                    {{ form_widget(form.job, {'attr': {'class': 'form-control', 'placeholder': ('app.ui.job'|trans)}}) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_label(form.birthday, ('app.ui.birthday'|trans)) }}<small style="color: #e74c3c"> *</small>
                                    {{ form_widget(form.birthday, {'attr': {'class': 'form-control', 'placeholder': ('app.ui.birthday'|trans)}}) }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h6>{{ 'app.ui.social'|trans }}</h6>
                        <small class="form-text text-muted mb-3">{{ 'app.ui.each_field'|trans}}</small>
                        {{ form_errors(form.website) }}
                        {{ form_errors(form.github) }}
                        {{ form_errors(form.twitter) }}
                        {{ form_errors(form.instagram) }}
                        {{ form_errors(form.facebook) }}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-globe"></i></span>
                                        </div>
                                        {{ form_widget(form.website, {'attr': {'class': 'form-control', 'placeholder': ('app.ui.website'|trans)}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fab fa-github"></i></span>
                                        </div>
                                        {{ form_widget(form.github, {'attr': {'class': 'form-control', 'placeholder': 'Github'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fab fa-twitter" style="color: #00a8ff"></i></span>
                                        </div>
                                        {{ form_widget(form.twitter, {'attr': {'class': 'form-control', 'placeholder': 'Twitter'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fab fa-instagram" style="color: #D980FA"></i></span>
                                        </div>
                                        {{ form_widget(form.instagram, {'attr': {'class': 'form-control', 'placeholder': 'Instagram'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-facebook" style="color: #1B9CFC"></i></span>
                                </div>
                                {{ form_widget(form.facebook, {'attr': {'class': 'form-control', 'placeholder': 'Facebook'}}) }}
                            </div>
                        </div>
                        <hr>
                        {% if form.vars.value.hasPicture %}
                            <div class="form-group">
                                <p>{{ 'app.ui.a_picture_exist' | trans }}</p>
                                <a class="btn btn-secondary"href="{{ absolute_url(asset('uploads/pictures/')) ~ form.vars.value.pictureFileName }}" download>{{ 'app.ui.download' | trans}}</a>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form_label(form.pictureFileName, ('app.ui.picture_file_name'|trans)) }}
                            {{ form_errors(form.pictureFileName) }}
                            {{ form_widget(form.pictureFileName, {'attr': {'class': 'form-control-file'}}) }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{{ 'app.ui.update_profile'|trans }}</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}