{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'app.ui.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('post_search') }}">{{ 'app.ui.post'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ post.title }}</li>
            </ol>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message|trans }}
                </div>
            {% endfor %}
            {% if post.close %}
                <div class="alert alert-success" role="alert">
                    {{ 'app.ui.post_solve'|trans }}
                </div>
            {% endif %}
            <h1><span class="badge badge-info">{{ ('app.ui.'~post.language)|trans }}</span> {{ post.title }}
            {% if post.user == app.user %}
            <div style="float:right;">
                <a class="dpdot" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% if post.close == false %}
                    <a class="dropdown-item" href="{{ path('post_edit', {'id' : post.id}) }}">{{ 'app.ui.post_edit'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('post_close', {'id' : post.id}) }}">{{ 'app.ui.post_close'|trans }}</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('post_delete', {'id' : post.id}) }}">{{ 'app.ui.post_delete'|trans }}</a>
                </div>
            </div>
            {% endif %}
            </h1>
            <p class="lead">
                {{ 'app.ui.by'|trans }}
                <a href="#">{{ post.user.username }}</a>
            </p>
            <hr>
            <p>{{ post.createdAt | date }}</p>
            <hr>
            <div>
                {{ post.content|raw }}
            </div>
            <hr>
            {% if post.hasFile %}
            <div>
                <p>{{ 'app.ui.a_file_exist' | trans }}</p>
                <a class="btn btn-secondary"href="{{ absolute_url(asset('uploads/files/')) ~ post.filename }}" download>{{ 'app.ui.download' | trans}}</a>
            </div>
            <hr>
            {% endif %}
            {% if app.user and post.close == false %}
                <div class="card my-4">
                    <h5 class="card-header">{{ 'app.ui.leave_a_comment'|trans }}</h5>
                    <div class="card-body">
                        {{ form_start(commentForm)}}
                        <div class="form-group">
                            {{ form_label(commentForm.content, ('app.ui.content'|trans)) }}
                            {{ form_errors(commentForm.content) }}
                            {{ form_widget(commentForm.content, {'attr': {'class': 'form-control', 'placeholder': ('app.ui.content'|trans)}}) }}
                        </div>
                        <button type="submit" class="btn btn-primary">{{ 'app.ui.comment'|trans }}</button>
                        {{ form_end(commentForm)}}
                    </div>
                </div>
            {% elseif post.close == true %}
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">{{ 'app.ui.warning'|trans }}</h4>
                    <p class="mb-0">{{ 'app.ui.the_post_was_closed'|trans }}</p>
                </div>
            {% else %}
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">{{ 'app.ui.warning'|trans }}</h4>
                    <p class="mb-0">{{ 'app.ui.please_connect_to_leave_a_comment'|trans }}</p>
                </div>
            {% endif %}
            {% for postComment in post.postComments %}
                <div class="media mb-4">
                    <img src="
                            {% if postComment.user.hasPicture %}
                                {{ asset('uploads/pictures/') ~ postComment.user.pictureFileName }}
                            {% else %}
                                https://bootdey.com/img/Content/avatar/avatar7.png
                            {% endif %}
                            " alt="Admin" class="d-flex mr-3 rounded-circle" width="50"  height="50">
                    <div class="media-body">
                        <h5 class="mt-0"><a href="{{ path('user_show', {'id' : postComment.user.id}) }}"><strong>{{ postComment.user.username }}</strong></a> <small>{{ postComment.createdAt | date }}</small></h5>
                        {{ postComment.content | raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <div class="card mt-4">
                        <div class="card-header">{{ 'app.ui.post_rating'|trans }}</div>
                        <a href="{{ path('post_like', {'id' : post.id }) }}" class="btn btn-link js-like">
                            {% if app.user and post.isLikedByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{ post.likes | length }}</span>
                            <span class="js-label">{{ 'app.ui.i_like'|trans }}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-12">
                    <div class="card mt-4">
                        <div class="card-header">{{ 'app.ui.new_users'|trans }}</div>
                        <ul class="list-group list-group-flush">
                            {% for user in users %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="card-title">{{ user.username }}</h5>
                                            <p class="card-text">{{ 'app.ui.number_post'|trans({'%number%': user.getPostNumber}) }}</p>
                                        </div>
                                        <div class="col-4">
                                            <a href="{{ path('user_show', { 'id' : user.id }) }}" class="btn btn-link btn-sm">{{ 'app.ui.view_profile'|trans }}</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'app.ui.warning'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ 'app.ui.please_connect_to_leave_a_like'|trans }}</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" href="{{ path('security_login') }}">{{ 'app.ui.login'|trans }}</a>
                <a type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'app.ui.close'|trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/like.js') }}"></script>
{% endblock %}