{% extends 'base.html.twig' %}

{% block title %}{{ 'app.ui.reset_password'|trans }}{% endblock %}

{% form_theme form 'form/form_errors.html.twig' %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">{{ 'app.ui.reset_password'|trans }}</div>
                <div class="card-body">
                    {{form_start(form)}}
                    {{ form_errors(form.password.first) }}
                    {{ form_errors(form.password.second) }}
                    <div class="form-group">
                        {{ form_label(form.password.first, ('app.ui.password'|trans)) }}<small style="color: #e74c3c"> *</small>
                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': ('app.ui.password'|trans)}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.second, ('app.ui.confirm_password'|trans)) }}<small style="color: #e74c3c"> *</small>
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': ('app.ui.confirm_password'|trans)}}) }}
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success">{{ 'app.ui.submit'|trans }}</button>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}